<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5">About Us </h2>
    <p class="text-zinc-300 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore officia iste consectetur totam quam corrupti labore sequi a at. Laudantium, ipsam cum porro placeat sequi neque minima voluptate ullam magni?
    </p>
</section>