---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca de nosotros">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At blanditiis quam, cumque illo debitis eveniet accusamus earum. Maiores nemo voluptates incidunt eveniet excepturi? Dolorem dolore modi harum a distinctio perferendis possimus quas necessitatibus aliquid accusamus quam, consectetur voluptates incidunt explicabo, ipsum in cupiditate! Eaque placeat perspiciatis in, eveniet voluptatum earum mollitia commodi, quaerat unde deserunt provident similique? Quasi reprehenderit reiciendis sed dolorem molestiae blanditiis id dolorum fuga expedita delectus autem itaque alias, exercitationem quia explicabo mollitia dicta illum amet cum cupiditate aspernatur magni cumque modi sunt! Rem doloremque, eaque sequi nemo nisi autem voluptate, perferendis blanditiis neque aliquid voluptatibus quia?</p>
</Layout>