---
import Footer from "../components/landing/footer.astro"
import "../styles/Layout.css";

//Para que salga en nombre en la pagina
interface Props {
    title: string;
}

//Para que salga en nombre en la pagina
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Astro landing - {title}</title>
    </head>
    <body>
        <main class="mx-auto container md:pt-10">
            <slot />
            <Footer />
        </main>
    </body>
</html>
